body{
    margin: 0;
    background-color: hsl(222, 28%, 79%);
    font-family: 'Outfit', sans-serif;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: hsl(212, 31%, 69%);
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content{
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    height: 480px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    box-shadow: 0px 0px 16px 16px hsl(212, 31%, 69%);
}
.qr-code{
    width: 300px;
    height: 300px;
    border-radius: 16px;
}
h1{
    color: black;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    padding-top: 8px;
    
}